body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height];
    font-family: 'Permanent Marker', cursive;
    color: #def2f1;
    background: linear-gradient(#3aafa9, #feffff);
}

#portfolio {
    color: #def2f1;
    font-size: 50px;
    padding-bottom: 10px;
}

.modal-content {
    background-color:#17252a ;
}

.close {
    color: #def2f1;
}

i {
    font-size: 60px;
    color: #17252a;
    margin-top: 10px;
    margin-left: 20px;
}

.repo {
    font-size: 20px;
}

.repo:hover {
    color: #494d4c;
}
.card {
    margin: 10px;
    padding-left: 10px;
    background-color: transparent !important;
    border: none;
}

.card a {
    text-decoration: none !important;
    color: #17252a;
}

.fa-copyright {
    font-size: 10px;
}

h5 {
   color: #17252a; 
}

.jumbotron .nav-link {
    color:#def2f1;
}

.jumbotron .nav-link:hover{
    color: black;
}

.navbar-toggler {
    color: #17252a;
}

.display-4:hover {
    color: #17252a;
    font-size: 60px;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav .nav-item a {
    font-size: 20px;
    color: #def2f1;
}

.navbar .navbar-brand {
    font-size: 40px;
    color: #def2f1;
}

.navbar-nav {
    font-size: 20px;
}

.navbar {
    color: #def2f1;
}

.navbar-brand:hover {
    color: #17252a;
}

.jumbotron {
    text-align: center;
    margin-top: 20px;
    color: #def2f1;
    background-color: transparent !important;
    font-size: 60px;
}

.my-4 {
    border-color: #2b7a78;
}

.container p {
    font-family: 'Amiri', serif;
    font-size: 20px;
    color: #17252a;
    padding: 0.2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #17252a;
    text-align: center;
    padding-top: 10px;
    height:[footer-height];
    font-size: 12px;
    padding: 30px;
}

@media screen and (max-width: 1200px) {
    .col-sm-8 {
        margin-left: 10px;
        margin-top: 20px;
    }
}