body {
    background-color: seashell;
}

.navbar {
    background-color: rgba(250, 238, 217,0.5);
    font-family: 'Zilla Slab', serif;
}

.navbar-nav .nav-item a {
    font-size: 20px;
}

.navbar .navbar-brand {
    color: black;
    font-size: 30px;
}

.navbar-nav {
    font-size: 20px;
}

.navbar-nav .nav-item a:hover {
    background-color: transparent !important;
    font-size: 25px;
}

.jumbotron {
    background-image: url(./images/daniel-reyes---CLmo9GA60-unsplash.jpg); /*Photo La Parguera, Puerto Rico by Daniel Reyes on Unsplash */
    background-size: cover;
    font-family: 'Zilla Slab', serif;
    color: black;
    border-style: solid;
    border-color: white;
}

.my-4 {
    border-color: black;
}

p {
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
}

.card p {
    font-size: 12px;
}

a {
    font-size: 12px;
    font-family: 'Zilla Slab', serif;
}

.card .card-header {
    background-color: #FAEED9;
}

.card .card-footer {
    background-color: #FAEED9;
}

