.container-3 {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
    border-style: solid;
    border-color: #FAEED9;
    border-radius: 20px;
    background-image: url(./images/jose-pagan-r0Q0DWMljOE-unsplash.jpg); /*Photo Fajardo, Puerto Rico by Jose Pagan on Unsplash*/
    background-size: cover;
}

h1 {
    padding-top: 20px;
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    color: white;
}

.my-4 {
    border-color: white;
}

.card-body {
    background-color: rgba(250, 238, 217,0.5);
}

@media screen and (max-width: 768px) {
    .container-3 {
        width: 80%;
    }
}


