.container-2 {
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
    border-style: solid;
    border-color: #FAEED9;
    height: 550px;
    padding-top: 10px;
    background-image: url(./nikita-castro-eFAJkWfjcLY-unsplash.jpg); /*Photo Mayaguez, Puerto Rico by Nikita Castro on Unsplash*/
    background-size: cover;
}
form {
    width: 350px;
    color: black;
}

#exampleInputMessage1 {
    height: 150px;
}

h1 {
    font-family: 'Zilla Slab', serif;
    color: black;
}

.my-4 {
    border-color: black;
}

a {
    font-family: 'Zilla Slab', serif;
    font-size: 12px; 
}