body {
    background-color: seashell;
}

.navbar {
    background-color: rgba(250, 238, 217,0.5);
    font-family: 'Zilla Slab', serif;
}

.navbar-nav .nav-item a {
    font-size: 20px;
}

.navbar .navbar-brand {
    color: black;
    font-size: 30px;
}

.navbar-nav {
    font-size: 20px;
}

.navbar-nav .nav-item a:hover {
    background-color: transparent !important;
    font-size: 25px;
}

.jumbotron {
    /* background-image:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(./images/daniel-reyes---CLmo9GA60-unsplash.jpg); */
    background-size: cover;
    background-image: url(./images/wenhao-ryan-8ZRBpgC2Ayc-unsplash.jpg); /*Photo Culebra, Puerto Rico by Wenhao Ryan on Unsplash*/
    font-family: 'Zilla Slab', serif;
    color: #FAEED9;
    border-style: solid;
    border-color: #FAEED9;
    margin-top: 20px;
}

.my-4 {
    border-color: #FAEED9;
}

.container p {
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    background-color: seashell;
    color: black; 
    display: inline;
    padding: 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.card p {
    font-size: 12px;
}

a {
    font-size: 12px;
    font-family: 'Zilla Slab', serif;
}

.card .card-header {
    background-color: #FAEED9;
}

.card .card-footer {
    background-color: #FAEED9;
}

.wrapper .card {
    margin-bottom: -10px;
}


@media screen and (max-width: 768px) {
    .container .col-sm-6 {
        margin-top: 40px;
    }
 
    .col-sm-4 {
        padding-right: 600px; /*Moved text under picture*/
    }
}

@media screen and (max-width: 320px){
    .col-sm-4 img { /*Image is now in container*/
        width: 250px; 
        height: 250px;
    }
}